*.pl-0 {
    padding-left: 0 !important;
}

*.pl-1 {
    padding-left: 1em !important;
}

*.pl-2 {
    padding-left: 2em !important;
}

*.pl-3 {
    padding-left: 3em !important;
}

*.pl-4 {
    padding-left: 4em !important;
}

*.pl-5 {
    padding-left: 5em !important;
}

*.pl-6 {
    padding-left: 6em !important;
}