*.pb-0 {
    padding-bottom: 0 !important;
}

*.pb-1 {
    padding-bottom: 1em !important;
}

*.pb-2 {
    padding-bottom: 2em !important;
}

*.pb-3 {
    padding-bottom: 3em !important;
}

*.pb-4 {
    padding-bottom: 4em !important;
}

*.pb-5 {
    padding-bottom: 5em !important;
}

*.pb-6 {
    padding-bottom: 6em !important;
}