*.p-0 {
    padding: 0 !important;
}

*.p-1 {
    padding: 1em !important;
}

*.p-2 {
    padding: 2em !important;
}

*.p-3 {
    padding: 3em !important;
}

*.p-4 {
    padding: 4em !important;
}

*.p-5 {
    padding: 5em !important;
}

*.p-6 {
    padding: 6em !important;
}