*.pr-0 {
    padding-right: 0 !important;
}

*.pr-1 {
    padding-right: 1em !important;
}

*.pr-2 {
    padding-right: 2em !important;
}

*.pr-3 {
    padding-right: 3em !important;
}

*.pr-4 {
    padding-right: 4em !important;
}

*.pr-5 {
    padding-right: 5em !important;
}

*.pr-6 {
    padding-right: 6em !important;
}