@use "sass:color";
@use "../variables.scss" as var;

button.rat-btn.danger {
    // --rippleColor: #{color.change(#fff, $alpha: var(--rippleOpacity))};
    --rippleColor: #{rgba(#fff, #{"var(--rippleOpacity)"})};
    --boxShadowProp: 0 0 0 4px #{rgba(var.$danger, 0.3)};
    border: 0;
    background: var.$danger;
    color: #fff;
}