@use "sass:color";
@use "../variables.scss" as var;

button.btn.warning {
    --rippleColor: #{color.change(#000, $alpha: 0.1)};
    border: 0;
    background: var.$warning;
    color: #{color.change(#000, $alpha: 0.6)};
    font-weight: bold;
}